/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf2ff;
}

.container-score {
  background-color: #364fc7;
  width: 90rem;
  height: 70rem;
  border-radius: 9px;
  padding: 4rem;
}

.header {
  margin-bottom: 4.8rem;
}

.heading {
  font-size: 6.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 2.4rem;
  letter-spacing: -0.5px;
}

.text {
  font-size: 2.4rem;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}
.table-scores {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4.8rem;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#score--0 {
  font-size: 7.4rem;
}

#score--1 {
  font-size: 7.4rem;
}

.icons {
  width: 3.6rem;
  height: 3.6rem;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
}

.icons:hover {
  transform: scale(1.1);
}

.score-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.winner {
  font-size: 4.4rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: #fff;
  text-align: center;
}

.btn-reset {
  margin-top: 2rem;
  width: 24rem;
  height: 5rem;
  font-size: 2.4rem;
  color: #fff;
  background-color: #37b24d;
  border: 1px solid #37b24d;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-reset:hover {
  background-color: #40c057;
  border: 1px solid transparent;
}

.hidden {
  visibility: hidden;
}

#party-select {
  width: 15rem;
  font-family: inherit;
}
